@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #__nuxt {
        width: 100% !important;
        background-color: #ffffff !important;
    }

    .bg-indigo {
        background-color: #283a97;
    }

    .tour-blue {
        color: #00AEEF !important;
    }

    .tour-orange {
        color: #FF8200 !important;
    }

    .tour-indigo {
        color: #283a97 !important;
    }

    .tour-title-1 {
        color: #283a97 !important;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2.25rem;
    }

    .tour-title-2 {
        color: #283a97 !important;
        font-weight: 700;
        font-size: 1rem;
        line-height: 2.25rem;
    }

    .tour-title-3 {
        color: #283a97 !important;
        font-weight: 700;
        font-size: 0.75rem;
        line-height: 2.25rem;
    }

    .tour-label {
        color: #283a97 !important;
        font-size: 1rem;
        line-height: 2.25rem;
    }

    .container {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        width: 100%;
        max-width: 100% !important;
    }

    @media (min-width: 640px) {
        .container {
            padding-left: 2rem !important;
            padding-right: 2rem !important;
            width: 100% !important;
            max-width: 100% !important;
        }

        .tour-title-1 {
            color: #283a97 !important;
            font-weight: 700;
            font-size: 1.75rem;
            line-height: 2.25rem;
        }

        .tour-title-2 {
            color: #283a97 !important;
            font-weight: 700;
            font-size: 1.5rem;
            line-height: 2.25rem;
        }

        .tour-title-3 {
            color: #283a97 !important;
            font-weight: 700;
            font-size: 1.2rem;
            line-height: 2.25rem;
        }
    }

    @media (min-width: 768px) {
        .container {
            padding-left: 2rem !important;
            padding-right: 2rem !important;
            max-width: 100% !important;
            width: 100% !important
        }

        .tour-title-1 {
            color: #283a97 !important;
            font-weight: 700;
            font-size: 2.5rem;
            line-height: 2.25rem;
        }
    }

    @media (min-width: 1024px) {
        .container {
            padding-left: 5rem !important;
            padding-right: 5rem !important;
            max-width: 100% !important;
            width: 100% !important
        }

        .tour-title-1 {
            color: #283a97 !important;
            font-weight: 700;
            font-size: 2.8rem;
            line-height: 2.25rem;
        }
    }

    @media (min-width: 1280px) {
        .container {
            padding-left: 10rem !important;
            padding-right: 10rem !important;
            max-width: 100% !important;
            width: 100% !important
        }

        .tour-title-1 {
            color: #283a97 !important;
            font-weight: 700;
            font-size: 2.8rem;
            line-height: 2.25rem;
        }
    }

    @media (min-width: 1536px) {
        .container {
            padding-left: 17rem !important;
            padding-right: 17rem !important;
            max-width: 100% !important;
            width: 100% !important
        }

        .tour-title-1 {
            color: #283a97 !important;
            font-weight: 700;
            font-size: 2.8rem;
            line-height: 2.25rem;
        }
    }
}