@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    #__nuxt {
        width: 100% !important;
        background-color: #ffffff !important;
    }

    .tour-blue {
        color: #00AEEF !important;
    }

    .tour-orange {
        color: #FF8200 !important;
    }

    .tour-indigo {
        color: #283a97 !important;
    }

    .tour-header {
        color: #283a97 !important;
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .tour-title {
        color: #283a97 !important;
        font-weight: 700;
        font-size: 1.875rem;
        line-height: 2.25rem;
    }

    .container {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        width: 100%;
        max-width: 100% !important;
    }

    @media (min-width: 640px) {
        .container {
            padding-left: 2rem !important;
            padding-right: 2rem !important;
            width: 100% !important;
            max-width: 100% !important;
        }
    }

    @media (min-width: 768px) {
        .container {
            padding-left: 2rem !important;
            padding-right: 2rem !important;
            max-width: 100% !important;
            width: 100% !important
        }
    }

    @media (min-width: 1024px) {
        .container {
            padding-left: 5rem !important;
            padding-right: 5rem !important;
            max-width: 100% !important;
            width: 100% !important
        }
    }

    @media (min-width: 1280px) {
        .container {
            padding-left: 10rem !important;
            padding-right: 10rem !important;
            max-width: 100% !important;
            width: 100% !important
        }
    }

    @media (min-width: 1536px) {
        .container {
            padding-left: 20rem !important;
            padding-right: 20rem !important;
            max-width: 100% !important;
            width: 100% !important
        }
    }
}