@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-haval {
        color: #ACCE39 !important;
    }

    .bg-haval {
        background-color: #ACCE39 !important;
    }

    .border-haval {
        border-color: #ACCE39 !important;
    }

    .accent-haval {
        accent-color: #ACCE39 !important;
    }

    .container {
        width: 100%;
        display: inline-block;
        margin: 0 auto;
        transition: width .1s;
    }

    @media (min-width: 640px) {
        .container {
            width: 640px;
        }
    }

    @media (min-width: 768px) {
        .container {
            width: 768px;
        }
    }

    @media (min-width: 1024px) {
        .container {
            width: 1024px;
        }
    }

    @media (min-width: 1280px) {
        .container {
            width: 1280px;
        }
    }

    @media (min-width: 1536px) {
        .container {
            padding-left: 10rem !important;
            padding-right: 10rem !important;
        }
    }
}