.bg-main-orange {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 130, 0, var(--tw-bg-opacity));
}

.bg-main-indigo {
    --tw-bg-opacity: 1;
    background-color: rgba(40, 58, 151, var(--tw-bg-opacity));
}

.bg-main-blue {
    --tw-bg-opacity: 1;
    background-color: rgba(0, 174, 239, var(--tw-bg-opacity));
}

.text-main-orange {
    --tw-text-opacity: 1;
    color: rgba(255, 130, 0, var(--tw-text-opacity));
}

.text-main-indigo {
    --tw-text-opacity: 1;
    color: rgba(40, 58, 151, var(--tw-text-opacity));
}

.text-main-blue {
    --tw-text-opacity: 1;
    color: rgba(0, 174, 239, var(--tw-text-opacity));
}